<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.xgouchet.texteditor"
    android:installLocation="auto"
    android:versionCode="17"
    android:versionName="Release 1.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <permission
        android:name="fr.xgouchet.texteditor.permission.TED_INTERNAL"
        android:label="@string/permission_internal"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="fr.xgouchet.texteditor.permission.TED_INTERNAL" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- Ted main activity ... ie a text field :) -->
        <activity
            android:name=".TedActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale|screenSize|smallestScreenSize"
            android:windowSoftInputMode="adjustResize" >

            <!-- Launcher Intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Default Text file view / edit -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="fr.xgouchet.texteditor.ACTION_TED_BOX_OPEN" />
                <action android:name="fr.xgouchet.texteditor.ACTION_TED_WIDGET_OPEN" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>

            <!-- File not recognized as Text Files by Android -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="fr.xgouchet.texteditor.ACTION_TED_WIDGET_OPEN" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.js"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.htm"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.html"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.xhtml"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.php"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.ini"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.sh"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.log"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.db"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.conf"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.cfg"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <!-- Ted settings activity -->
        <activity
            android:name=".TedSettingsActivity"
            android:label="@string/title_settings"
            android:permission="fr.xgouchet.texteditor.permission.TED_INTERNAL"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="fr.xgouchet.texteditor.ACTION_TED_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Ted save as activity -->
        <activity
            android:name=".TedSaveAsActivity"
            android:label="@string/title_save_as"
            android:permission="fr.xgouchet.texteditor.permission.TED_INTERNAL"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="fr.xgouchet.texteditor.ACTION_TED_SAVE_AS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Ted open activity -->
        <activity
            android:name=".TedOpenActivity"
            android:permission="fr.xgouchet.texteditor.permission.TED_INTERNAL"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="fr.xgouchet.texteditor.ACTION_TED_OPEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Ted open recent activity -->
        <activity
            android:name=".TedOpenRecentActivity"
            android:label="@string/title_open_recent"
            android:permission="fr.xgouchet.texteditor.permission.TED_INTERNAL"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="fr.xgouchet.texteditor.ACTION_TED_OPEN_RECENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Ted about activity -->
        <activity
            android:name=".TedAboutActivity"
            android:label="@string/title_about"
            android:permission="fr.xgouchet.texteditor.permission.TED_INTERNAL"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="fr.xgouchet.texteditor.ACTION_TED_ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Ted Configure widget activity -->
        <activity
            android:name=".TedWidgetConfigActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Widget Receiver -->
        <receiver
            android:name=".TedAppWidgetProvider"
            android:permission="fr.xgouchet.texteditor.permission.TED_INTERNAL" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ted_widget" />
        </receiver>
    </application>

</manifest>